<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-50">
    <nav class="flex items-center justify-center">
      <div
        class="w-[90vw] max-w-[1200px] flex px-1 h-[70px] items-center justify-between"
      >
        <h1 class="text-3xl">Per<span class="text-indigo-400">Lib</span></h1>

        <ul class="flex justify-between">
          <li>
            <a class="text-lg ml-9 text-indigo-500" href="/admin/addBook">
              Add Book
            </a>
          </li>
          <li>
            <a class="text-lg ml-9 text-indigo-500" href="/admin/addCategory">
              Add Category
            </a>
          </li>
          <li>
            <a href="/user/logout" class="text-lg ml-9 text-indigo-500"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
    ></script>
  </body>
</html>
