<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-50">
    <nav class="flex items-center justify-center">
      <div
        class="w-[90vw] max-w-[1200px] flex px-1 h-[70px] items-center justify-between"
      >
        <h1 class="text-3xl">Per<span class="text-indigo-400">Lib</span></h1>

        <ul class="flex justify-between">
          <li>
            <a class="text-lg ml-9 text-indigo-500" href="/admin/addBook">
              Add Book
            </a>
          </li>
          <li>
            <a class="text-lg ml-9 text-indigo-500" href="/admin/addCategory">
              Add Category
            </a>
          </li>
          <li>
            <a href="/user/logout" class="text-lg ml-9 text-indigo-500"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <main class="w-[90vw] w-max-[1200px] m-auto">
      <h1 class="mt-1 mb-2 text-center">List Of User That Borrow Our Book</h1>
      <table
        class="table-auto border-collapse border-black border-2 w-[100%] m-auto"
      >
        <thead>
          <tr
            class="bg-slate-200 [&>*:nth-child(odd)]:border-black [&>*:nth-child(odd)]:border-r-2 [&>*:nth-child(even)]:border-black [&>*:nth-child(even)]:border-r-2"
          >
            <th>Name User</th>
            <th>Title Book</th>
            <th>Expired Date</th>
            <th>Check Out Date</th>
          </tr>
        </thead>
        <tbody
          class="[&>*:nth-child(odd)]:bg-slate-100 [&>*:nth-child(even)]:bg-slate-200"
        >
          <% data.forEach(({checkOutDateG, expiredDateG,Book,User}) => { %>
          <tr
            class="[&>*:nth-child(odd)]:border-black [&>*:nth-child(odd)]:border-r-2 [&>*:nth-child(even)]:border-black [&>*:nth-child(even)]:border-r-2"
          >
            <td><%= User.name %></td>
            <td><%= Book.tittle %></td>
            <td><%= expiredDateG %></td>
            <td><%= checkOutDateG %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
