<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/profile/edit" method="post">
      <input type="text" name="name" value="<%=user.name%>" />
      <input type="text" name="imgurl" value="<%=user.imgurl %> " />
      <input type="date" name="birthdate" />
      <input type="radio" name="gender" value="male" id="male" checked />
      <label for="male">male</label>
      <input type="radio" name="gender" value="female" id="female" />
      <label for="female">female</label>
    </form>
  </body>
</html>
