<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen bg-gradient-to-b from-[#2b1055] to-[#7597de]">
    <header
      class="absolute top-0 left-0 py-[30px] px-[100px] flex justify-between items-center w-[100%]"
    >
      <a href="" class="text-[#fff] font-bold text-3xl uppercase tracking-wider"
        >Logo</a
      >
      <ul class="flex justify-center items-center">
        <li class="ml-1">
          <a href="" class="py-[6px] px-[15px] text-[#fff]">Home</a>
        </li>
        <li class="ml-1">
          <a href="" class="py-[6px] px-[15px] text-[#fff]">About</a>
        </li>
        <li class="ml-1">
          <a href="" class="py-[6px] px-[15px] text-[#fff]">Work</a>
        </li>
        <li class="ml-1">
          <a href="" class="py-[6px] px-[15px] text-[#fff]">Contact</a>
        </li>
        <li class="ml-1">
          <a href="/user/logout" class="py-[6px] px-[15px] text-[#fff]">Log Out</a>
        </li>
      </ul>
    </header>
  </body>
</html>
