<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-indigo-50">
    <nav class="flex items-center justify-center">
      <div
        class="w-[90vw] max-w-[1200px] flex px-1 h-[70px] items-center justify-between"
      >
        <h1 class="text-3xl">Per<span class="text-indigo-400">Lib</span></h1>
        <div class="w-[500px]">
          <form>
            <input
              type="text"
              class="w-[100%] p-1 rounded-lg border-none focus:outline-none"
              placeholder="search books"
            />
          </form>
        </div>
        <ul class="flex justify-between">
          <li><a href="" class="text-lg text-indigo-500">My Book</a></li>
          <li>
            <a href="/user/logout" class="text-lg ml-9 text-indigo-500"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <main class="w-[90vw] max-w-[1200px] border-2 border-black m-auto">
      <h2>Category Books</h2>
      <div class="w-[100%] flex justify-center flex-wrap gap-7">
        <div class="card w-[250px] mt-3 shadow-2xl">
          <div class="w-[100%] h-[300px] rounded-lg">
            <img
              src="https://source.unsplash.com/4cA0t0_7LOc"
              alt=""
              class="object-cover w-[100%] h-[100%] rounded-sm shadow-lg"
            />
          </div>
          <div
            class="w-[100%] border border-black flex justify-center mt-1 rounded-lg"
          >
            <button class="text-center cursor-pointer w-[100%] h-[100%]">
              Borrow
            </button>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
