<nav class="flex items-center justify-center">
  <div
    class="w-[90vw] max-w-[1200px] flex px-1 h-[70px] items-center justify-between"
  >
    <h1 class="text-3xl">Per<span class="text-indigo-400">Lib</span></h1>
    <div class="w-[500px]">
      <form>
        <input
          type="text"
          class="w-[100%] p-1 rounded-lg border-none focus:outline-none"
          placeholder="search books"
        />
      </form>
    </div>
    <ul class="flex justify-between">
      <li><a href="/mybook" class="text-lg text-indigo-500">My Book</a></li>
      <li>
        <a href="/profile" class="text-lg ml-9 text-indigo-500">My Profile</a>
      </li>
      <li>
        <a href="/user/logout" class="text-lg ml-9 text-indigo-500">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
